@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.4.0/css/zocial.min.css");
@import './layout/init.css';
@import './layout/footer.css';
@import './layout/header.css';

:root{
  --red: rgb(248, 22, 29);
  --brown: rgb(119, 17, 15);
  --brown2: rgb(77,42,16);
  --stick2: rgb(199, 164,121);
  --stick: rgb(255, 174, 10);
  --writerContainer: rgb(209,178,142);
  --bgcolor: rgb(241,235,230);
}


#introImage{
    
  width:80%;
}


#testLinkContainer a{
  background-image: url("../img/intro_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color:white;
  display: inline-block;
  padding: 4vh;
  font-size: 15px;
  /* margin: 10px 2px; */

}

#participant{
  font-weight: bold;
  margin: 20px 0px;
}
#participant p{
  font-size:18px;
  font-weight: bold;
  margin: 10px 0px;
}

#participantText{
  display: inline;
  padding: 0px 10px;
  box-shadow: inset 0px -10px lightgreen;
  line-height: 20px;
  ;
}

