<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- og(open graph) tags -->
    <meta property="og:url" content="url"/>
    <meta property="og:image" content="Image"/>
    <meta property="og:title" content="공유타이틀제목" />
    <meta property="og:description" conetnt="공유 설명란"/>
    
    
    <!-- stylesheet -->
    <link rel="stylesheet" href="test.css" />
    
    <title>테스트 진행중</title>
  </head>
  <body>
    <header id="pageHeader">
      <h1> 나와 어울리는 빼빼로는 무엇일까?</h1>
    </header>
    
    
    <section id="testContainer">
      <form id="js-questForm" onsubmit="doSubmit(event)">
          <p id="js-questText">질문</p>
        <div>
          <label for="">
            <button onclick="testBtnClick(event)" name = "1" value="-1" class="js-test-form_btn">아니다</button>
          </label>
          <label for="">
            <button onclick="testBtnClick(event)" name = "1" value="0" class='js-test-form_btn'>보통이다</button>
          </label>
          <label for="">
            <button onclick="testBtnClick(event)" name = "1" value="1" class="js-test-form_btn">그렇다</button>
          </label>
        </div>
      </form>

    <a href="/result">결과보러가기</a>

    </section>
    

    <footer>
      <div class="writer">
        <p>made by Haze-s</p>
          <p>Contact information: 
            <a href="github.com/haze-s"> Github</a>
            <a href="">portfolio</a>
          </p>
      </div>
      <div class="writer">
        <p>made by nerdchanii</p>
          <p>Contact information: 
            <a href="github.com/nerdchanii"> Github</a>
            <a href="">portfolio</a>
          </p>
      </div>
    </footer>
    <script src="../static/js/testpage.js"></script>
  </body>
</html>
